<launch>
  <arg name="world" default="$(find final_project_1100915)/worlds/ros_1100915.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find final_project_1100915)/worlds/ros_1100915.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>


  <param name="robot_description" command="$(find xacro)/xacro $(find my_robot_1100915_description)/urdf/my_robot_1100915.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
  <node name="spawn_my_robot" pkg="gazebo_ros" type="spawn_model" output="screen" 
  args="-param robot_description -urdf -model my_robot_1100915 -x 0 -y 0 -z 0"/>


  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="delta" value="0.05"/>
  </node>
  
  <arg name="open_rviz" default="true"/>
  <group if="$(arg open_rviz)"> 
   <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find final_project_1100915)/rviz/my_robot_1100915.rviz"/>
  </group>

</launch>
